<section class="tab">

  <h2 class="tab__title">Education & Skills</h2>

  <article>
    <h3 class="tab__subtitle">Education</h3>
    <ul class="list">
      <li>
        MSc. (2021), Computer Science, Palacký University, Olomouc, Czech Republic
      </li>
      <li>
        BSc. (2018), Computer Scince, Palacký University, Olomouc, Czech Republic
      </li>
    </ul>
  </article>
  <article>
    <h3 class="tab__subtitle">Skills</h3>
    <section class="skills">
      <div class="skills__type">
        <h4 class="skills__heading">Programming Languages:</h4>
        <span class="skills__list">HTML, CSS, JS, Python, Java</span>
      </div>

      <div class="skills__type">
        <h4 class="skills__heading">Database Management:</h4>
        <span class="skills__list">MongoDB, PostgreSQL, MySQL</span>
      </div>

      <div class="skills__type">
        <h4 class="skills__heading">Tools and frameworks:</h4>
        <span class="skills__list">Git, Angular, Nuxt.js, Vue.js, GraphQL, REST, Java FX</span>
      </div>
    </section>
  </article>


</section>
