<nav class="navigation">
  <ul class="menu">
    <li class="menu__wrapper lt">
      <a class="menu__item menu__link" routerLink="/about">
        About
      </a>
    </li>
    <li class="menu__wrapper rt">
      <a class="menu__item menu__link" routerLink="/education">
        Education
      </a>
    </li>
    <li class="menu__wrapper center">
      <div class="menu__item">
        <h1 class="subject">
          <span class="subject__name">MSc.&nbsp;Jana Lubojacká </span><br>
          <span class="subject__type">Software developer</span>
        </h1>
      </div>

    </li>
    <li class="menu__wrapper lb">
      <a class="menu__item menu__link" routerLink="/interests">
        Interests
      </a>
    </li>
    <li class="menu__wrapper rb">
      <a class="menu__item menu__link" routerLink="/projects">
        Projects
      </a>

    </li>
  </ul>
</nav>
