<section class="tab">

  <h2 class="tab__title">About</h2>

  <article>
    <p>I'm Computer Science graduate seeking to leverage solid development skills.
      I have experience with front-end and back-end technologies like <b>Angular</b>, <b>Vue.js</b>,
      <b>Nuxt.js</b>, <b>GraphQL</b>, <b>PostgreSQL</b> and <b>MongoDB</b>.
    </p>
    <p>
      Besides web development, I'm interested in data mining and artificial intelligence
      and my favourite programming languages are <b>Python</b> and <b>Java</b>.
      The best part of programming is the automation of daily tasks so I write small scripts in Python, including scraping the web and file manipulation.
    </p>
    <p>
      Building reliable efficient software with user-friendly interface and responsive design is a top priority.
      I'm keen on learning new things and every problem is an interesting challenge for me.
    </p>
  </article>
</section>
