<section class="tab">

  <h2 class="tab__title">Projects</h2>
  <article>
    <p class="txt">Some of my projects:</p>
    <article class="repos">
      <app-card>
        <a title class="repo__title" href="https://github.com/jlubojacka/colorful-rating" title="Colorful Rating - GitHub repository">
          <h3>Colorful Rating</h3>
        </a>
        <p description>
          A simple, highly customizable <b>Vue.js</b> component for any type of rating. Works with Vue version 3.
        </p>
      </app-card>

      <app-card>
        <a title class="repo__title" href="https://github.com/jlubojacka/vue-presentation" title="Vue Presentation Template - GitHub repository">
          <h3>Vue Presentation Template</h3>
        </a>
        <p description>Simple template for web presentation created in <b>Vue.js</b> with keyboard shortcuts and support for image, video and iframe.</p>
      </app-card>

      <app-card>
        <a title class="repo__title" href="https://github.com/jlubojacka/JSVG" title="JavascriptSVG - GitHub repository"><h3>JSVG</h3></a>
        <p description>Small utility for converting SVG elements into Javascript objects for batch rendering of SVG on HTML5 Canvas.</p>
      </app-card>

      <app-card>
        <a title class="repo__title" href="https://github.com/jlubojacka/logic-game-collection" title="Logic Game Collection - GitHub repository"><h3>Logic Game Collection</h3></a>
        <p description>
          <b>Java</b> desktop application with logic games based on famous problems from computer science and mathematics.
        </p>
      </app-card>

    </article>

  </article>
</section>
