<section class="tab">

  <h2 class="tab__title">Interests</h2>

  <article>
    <p>
      I'm a creative person and I like drawing in my free time.
      I try to find a way how to connect art and programming so I'm interested in computer graphics and design.
      I'm concerned with both 2D graphics and 3D modeling.
      Currently I'm learning the basics of Blender.
    <p>
      Neural networks, artificial intelligence and facial motion capture are my favourite topics.
    </p>
    <p>
      I enjoy hiking and spending time in nature.
    </p>
  </article>

</section>
