@font-face {
  font-family: 'NotoSansLao';
  src: url('../assets/NotoSansLao-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: 'Cookie';
  src: url('../assets/Cookie-Regular.ttf');
}

@font-face {
  font-family: 'Kurale';
  src: url('../assets/Kurale-Regular.ttf');
}


